  <table class="table table-striped">
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= kind_title(transaction) %>
          <span class="label warning"><%= transaction.account.title%></span>
          <span class="label info"><%= transaction.tags %></span>
          <br/><%= transaction.created_at %>
        </td>
        <td>
          <h3><%= transaction.amount %> <%= transaction.account.currency %></h3>
          <small><%= transaction.description %></small>
        </td>
        <td>
          <div class="btn-group pull-right">
            <%= edit_transaction_link(transaction) %>
            <%= delete_transaction_link(transaction) %>
          </div>
        </td>
      </tr>
  <% end %>
  </table>
