<div class="container">
  <div class="row">
    <div class="span4 offset4 well">
      <legend>Sign in to MineWallet</legend>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <% flash.each do |key, value| %>
            <div class="alert alert-block alert-error fadeout" data-dismiss="alert">
            <a class="close">×</a>
            <%= value %>
            </div>
          <% end %>
          <%= f.email_field :email, :autofocus => true, :placeholder=> :email, :class=>"span3"%>
          <%= f.password_field :password, :placeholder=> :password, :class=>"span3"%>
          <label class="checkbox">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          <% end -%>
          </label>
          <%= f.submit "Sign in", :class => "btn btn-info btn-block"%>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
</div>
