<%= form_for(@rule) do |f| %>
  <%= render "shared/error", object: @rule %>
  <div id="field" class="control-group">
    <%= f.label :title, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :title, :class=>"input-xlarge" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :account_id, :class=>"control-label" %>
    <div class="controls">
      <%= f.select(:account_id, options_from_collection_for_select(current_user.accounts.all, :id, :title, :selected => @rule.account_id) )%>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :kind, :class=>"control-label"%>
    <div class="controls">
      <%= f.select(:kind, options_for_select([['Расход', 0], ['Доход', 1]], @rule.kind))%>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :tags, :class=>"control-label"%>
    <div class="controls">
      <%= f.text_field :tags, :class=>"input-xlarge"%>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :amount, :class=>"control-label"%>
    <div class="controls">
      <%= f.text_field :amount, :class=>"input-xlarge"%>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :description, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :description, :class=>"span6" %>
      <span class="help-inline"></span>
    </div>
  </div>
  <div id="field" class="control-group">
    <div class="controls">
      <div class="actions">
        <%= submit_tag  'Save', :type => :submit, :class => 'btn btn-primary' %>
        <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger"%>
      </div>
    </div>
  </div>
<% end %>
