<table class="table table-striped">
    <% @rules.each do |rule| %>
      <tr>
        <td>
          <%= kind_title(rule) %>
          <span class="label warning"><%= rule.account.title%></span>
          <span class="label info"><%= rule.tags %></span>
        </td>
        <td>
          <h3><%= rule.title %></h3>
          <h3><%= rule.amount %> <%# transaction.account.currency %></h3>
          <small><%= rule.description %></small>
        </td>
        <td>
      <div class="btn-group pull-right">
          <%= link_to rule, :class=>"btn btn-mini btn-success" do %>
            <i class="icon-ok icon-white"></i> Применить правило
          <% end %>

          <%= link_to edit_rule_path(rule), :class=>"btn btn-mini btn-success" do %>
            <i class="icon-edit icon-white"></i> Редатрировать
          <% end %>

          <%= link_to rule, method: :delete, data: { confirm: 'Are you sure?', :class=>"confirm" }, :class=>"btn btn-mini btn-danger delete" do %>
            <i class="icon-trash icon-white"></i> Удалить
          <%end%>
      </div>
        </td>
      </tr>
  <% end %>
  </table>

<%= link_to(new_rule_path, :class=>"btn btn-large btn-success") do %>
  <i class="icon-plus icon-white"></i>Добавить правило
<% end %>

