<%= form_for(@account) do |f| %>
  <fieldset>
    <%= render "shared/error", object: @account %>
  <div id="field" class="control-group">
    <%= f.label :title, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :title, :class=>"input-xlarge" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :currency, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :currency, :class=>"input-xlarge" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <%= f.label :balance, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :balance, :class=>"input-xlarge" %>
      <span class="help-inline"></span>
    </div>
  </div>

  <div id="field" class="control-group">
    <div class="controls">
      <div class="actions">
        <%= f.button  :type => :submit, :class => 'btn btn-primary' %>
        <%= f.button t("reset"), :type => :reset, :class => "btn btn-danger"%>
        <%= link_to t("cancel"),accounts_path , :class => "btn btn-danger"%>
      </div>
    </div>
  </div>
  </fieldset>

<% end %>
