<% if @accounts.size >0 %>
<table class="table table-stripped">
  <tr>
    <th>Название</th>
    <th>Валюта</th>
    <th>Баланс</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><h3><%= account.title %></h3></td>
    <td><%= account.currency %></td>
    <td><%= account.balance %> <%= account.currency %></td>
    <td>
      <div class="btn-group pull-right">
        <%= link_to(new_account_transaction_path(account), :class=>"btn btn-mini btn-success") do %>
          <i class="icon-plus icon-white"></i> транзакцию
        <% end %>
        <%= link_to(new_account_transaction_path(account), :class=>"btn btn-mini btn-success") do %>
          <i class="icon-plus icon-white"></i> правило
        <% end %>

        <%= edit_account_link(account) %>
        <%= delete_account_link(account) %>
      </div>
      </td>
  </tr>
<% end %>
</table>

<br />
<% else %>
  <h1> Нет доступных кошельков! Создайте!</h1>
  <% end %>
<%= new_account_link %>
